<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Index</title>
</head>
<body>
<ul>
    <li>Title: <%= @movies[:title] %></li>
    <li>Release Year: <%= @movies[:year] %></li>
    <li>Synopsis: <%= @movies[:synopsis] %></li>
    <li>Rating: <%= @movies[:rating] %></li>
    <li>Genre: <%= @movies[:genre] %></li>
    <li>Studio: <%= @movies[:studio] %></li>
</ul>
</body>
</html>
